body{
    margin: 0;
    height: 100%;
}
header{
    padding: 1px 0;
    
}
.headerContent{
    background-color: rgb(154, 218, 243);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px salmon;
}
.logoContent{
    display: flex;
    align-items: center;
    width: 80%;
    border: 0px rgb(25, 9, 238);
}
.empText{
font: normal normal bold 20px/25px;
font: optional;
letter-spacing: 0px;
color: magenta;
text-transform:capitalize ;
}
.empPayroll{
    color:mediumvioletred;
}
*{
    box-sizing: border-box;
}
.formContent{
min-height: calc(100%-80%);
background-color: chartreuse;
display: flex;
justify-content: center;
align-items: center;
border: 0px solid gray;
}
.form{
    width: 60%;
    padding: 44px 60px;
    background: #ffff 0% 0% no-repeat padding-box;
    box-shadow:0px 3px 6px black ;
    border-radius: 8px;
    opacity: 1;
}
.formHead{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #43228a;
    padding-bottom: 20px;
    opacity: 20px;
}
.rowContent{
    display: flex;
    margin-bottom: row;
    flex-direction: row;
    align-items: center;
    border:0px gold;
}
.imageContent{
    display: flex;
    flex-direction:column;
}
.lable{
    min-width: 140px;
}
lable{
    padding:12px 12px 12px 0;
    display: inline-block;
}
.text{
    font-size: 16px;
    color: #836783;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    resize: vertical;
}
.lableText{
    display: flex;
    flex-direction: row;
}
.buttonParaent
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.submitButton
{

    margin-right: 30px;
    
}